<div id="map">
  <div class="map__options map__options--topleft">
    <p-autoComplete
      [placeholder]="'Пошук'"
      [suggestions]="results$ | async"
      (completeMethod)="search($event)"
      (onSelect)="onSelectCity($event)"
      [delay]="500"
      [showEmptyMessage]="true"
      field="display_name"
    ></p-autoComplete>
    <p-button
      icon="pi pi-pencil"
      label="Polygon"
      (click)="onStartPolygon()"
    ></p-button>
    <p-button
      icon="pi pi-send"
      label="Всі новини"
      (click)="showAllPosts()"
    ></p-button>
    <p-button
      icon="pi pi-copy"
      label="Історія версій"
      (click)="showVersions()"
    ></p-button>
    <a href="https://t.me/DeepStateUA" target="_blank" class="logo__container">
      <img
        src="/assets/images/logo.png"
        class="logo"
        alt="Deep State Ukraine"
      />
    </a>
  </div>
  <div class="map__options map__options--topright">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-info-circle"
      class="p-button-rounded"
      (click)="showInfo()"
    ></button>
  </div>
</div>

<p-dialog
  header="Новини"
  position="bottom-right"
  [(visible)]="displayPosts"
  [title]="selectedTerritory?.name"
>
  <app-post [territoryId]="selectedTerritory?.id"></app-post>
</p-dialog>

<p-dialog
  [header]="selectedTerritory?.name || 'Не збережена територія'"
  position="top"
  [(visible)]="display"
>
  <p-button
    icon="pi pi-palette"
    label="Редагування території"
    (click)="onEditTerritory(selectedPolygon, selectedTerritory)"
  ></p-button>
  <p-button
    icon="pi pi-pencil"
    label="Границя"
    (click)="onEditPolygon(selectedPolygon)"
  ></p-button>
  <p-button
    icon="pi pi-send"
    label="Новини"
    (click)="showPosts()"
    [disabled]="selectedTerritory ? false : true"
  ></p-button>
  <p-button
    icon="pi pi-trash"
    label="Видалити"
    *ngIf="selectedTerritory"
    (click)="removeTerritory()"
  ></p-button>
</p-dialog>

<p-dialog header="Карта DeepState" position="bottom" [(visible)]="displayInfo">
  <div class="info">
    <div class="info__section">
      <ul>
        Контакти
        <li>
          <a href="https://t.me/DeepStateUA" target="_blank"
            >Telegram канал: DeepState</a
          >
        </li>
        <li>
          <a href="https://t.me/newsDeepStatebot" target="_blank"
            >Повідомити новину / Submit info</a
          >
        </li>
      </ul>
    </div>
    <div class="info__section">
      <ul>
        Легенда карти

        <li>Червоні ділянки - захоплені кацапами</li>
        <li>Сині ділянки - території, звідки кацапів вибито</li>
        <li>Сірі ділянки - території Криму і ОРДЛО</li>
        <li>Темно-червона ділянка - Придністров'я</li>
      </ul>
    </div>

    <div class="info__section">
      <p class="info__message">
        В жодному разі не використовуйте карту для прокладання безпечних
        маршрутів, натомість користуйтеся зеленими коридорами, котрі пропонує
        влада.
      </p>
    </div>
  </div>
</p-dialog>
<p-dialog
  [style]="{ 'max-width': '30rem', height: '60vh' }"
  header="Історія Версій"
  position="bottom-left"
  [(visible)]="openVersions"
>
  <app-versions (selectVersion)="onChangeVersion($event)"></app-versions>
</p-dialog>
