$c-white: white;
$c-black: black;

#map {
  height: 95vh;
  position: relative;
}
.map {
  &__options {
    position: absolute;

    z-index: 1000;
    display: grid;
    grid-row-gap: 0.5rem;

    &--topleft {
      top: 0.5rem;
      left: 0.5rem;
    }
    &--topright {
      top: 0.5rem;
      right: 0.5rem;
    }
    &--bottomright {
      bottom: 0.5rem;
      right: 0.5rem;
    }
  }
}

.info {
  &__section {
    display: grid;
    margin-top: 0.5rem;
  }
  display: flex;
  flex-direction: column;

  &__message {
    color: red;
  }
}
.logo {
  width: auto;
  height: 65px;
  opacity: 0.7;
  &__container {
  }
}
