$c-white: white;
$c-black: black;

#map {
  height: 95vh;
  position: relative;
}
.map {
  &__options {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 1000;
    display: grid;
    grid-row-gap: 0.5rem;
  }
}

.edit-modal {
  display: none;
  position: fixed;
  top: 25%;
  left: 25%;
  right: 25%;
  height: 40vh;
  width: 60vw;
  z-index: 1001;
  background-color: $c-white;
  border: 1px solid $c-black;
  border-radius: 1rem;
  padding: 1rem;

  &--active {
    display: block;
  }
}

.modal {
  position: fixed;
  top: 2rem;
  right: 1rem;
  height: 80vh;
  width: 420px;
  background-color: $c-white;
  border: 1px solid $c-black;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 1001;
  overflow-y: auto;
}
