$c-white: white;
$c-black: black;

#map {
  height: 95vh;
}

.edit-modal {
  display: none;
  position: fixed;
  top: 25%;
  left: 25%;
  right: 25%;
  height: 40vh;
  width: 60vw;
  z-index: 1001;
  background-color: $c-white;
  border: 1px solid $c-black;
  border-radius: 1rem;
  padding: 1rem;

  &--active {
    display: block;
  }
}

.modal {
  position: fixed;
  top: 2rem;
  right: 1rem;
  height: 80vh;
  width: 420px;
  background-color: $c-white;
  border: 1px solid $c-black;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 1001;
  overflow-y: auto;
}

.news-list {
  display: flex;
  flex-direction: column;

  .item {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
